form {
    border: 3px solid #f1f1f1;
  }
  
 
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .registerbtn {
    padding: 20px 22px;
    background-color:green;
    font-size: x-large;
    
  }
 
 button{
    background-color:blue;
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
  }
  
  
  button:hover {
    opacity: 0.8;
  }
  

  

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  img.BusBooking {
    width: 40%;
    border-radius: 50%;
  }
  
 
  .container {
    padding: 16px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .loginbtn {
        padding: 14px 20px;
        width: 10%;
        width: auto;
    padding: 10px 18px;
    
      }
    
   
  }